.dropdown-collection {
    position: relative;
    width: fit-content;

    &:hover {
        & .dropdown-list {
            border-color: var(--main-accent-color);
        }

        & .dropdown-button {
            color: var(--main-accent-color);
        }

        & .arrow-icon {      
            fill: var(--main-accent-color);
        }
    }

}

.dropdown-button {
    display: flex;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    align-items: center;

    & .arrow-icon {
        fill: var(--font-primary);
    }

    span {
        padding: 0.45rem 0;
        font-weight: 600;
    }

}

.dropdown-list {
    width: fit-content;
    box-sizing: border-box;
    overflow: hidden;
    transition: .3s ease;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: flex;
        gap: 0.5rem;
        white-space: nowrap;
        cursor: pointer;
        font-weight: 500;
        padding: 0.55rem 0.7rem;

        svg {
            min-height: 16px;
            min-width: 15px;
        }

        &:hover {
            background-color: rgba(var(--main-accent-color-rgb), 0.2);
        }
    }

    &.dropdown-open {
        display: block;
    }
}
